[Unit]
Description=Fetch jobs daily

[Timer]
OnCalendar=*-*-* 08:30:00 Asia/Taipei
Persistent=false
Unit=jobfinder-run.service

[Install]
WantedBy=timers.target
